body{
    background-color: rebeccapurple;
}

.wrapper{
    margin: 45px 75px 45px 75px;
    padding-bottom: 30px;
    text-align: center;
    border: 5px dotted green;
    background-color: tan;
}

#pic1{
    width: 50%;
    height: 50%;
}

#notbear{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: red;
    position: absolute;
    top: 175px;
    left: 125px;
}

.bearfact{
    text-align: center;
    font-weight: bolder;
}

#name{
    position: fixed;
    top: 0;
    right: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
